root {
  --color-white: #fff;
  --color-light: hsl(300, 5%, 81%);
  --color-dark: #525252;
  --color-black: #141415;
  --color-primary: #e90c0c;
  --color-primary-light: hsla(6, 17%, 76%, 0.952);
  --color-success: #29f5a6;
  --color-warning: #ffce31;

  --transition: all 300ms ease;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

::-webkit-scrollbar{
    width: 10px;
    background: #b4acac;
}

::-webkit-scrollbar-thumb{
    background: #ffce31;
}

html {
  font-size: 15px;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(90deg, rgba(28,3,74,1) 6%, rgba(112,10,90,1) 46%, rgba(42,29,61,1) 83%);
  font-family: "Montserrat", sans-serif;
  color: var(--color-dark);
  max-width: 100vw;
}

h1,
h2,
h3,
h4,
h5 {
  color: #fdfafa;
  line-height: 3.5rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 0.86rem;
}

p {
  line-height: 1.8;
}

.container {
  width: 80%;
  margin: 0 auto;
}

section {
  padding: 10rem 0 7rem;
  max-width: 100vw;
  overflow-x: hidden;
}

section h1 {
  text-align: center;
  display: block;
  margin-bottom: 5rem;
}

img {
  width: 100%;
}

.btn {
  padding: 1.4rem 3.4rem;
  font-size: 1.1rem;
  color: #000;
  background: #fff;
  display: inline-block;
  margin: 2rem 0;
  transition: var(--transition);
}

.btn:hover {
  box-shadow: 0 1rem 1rem #90e117;
}
.btn-primary {
  background: linear-gradient(0deg, rgba(231,35,206,1) 18%, rgba(87,24,214,1) 56%, rgba(26,245,247,1) 89%);;
  color: aliceblue;
  font-weight: 600;
  border-radius: 4px;
}

/* Navbar */

nav {
  width: 100%;
  height: 5rem;
  background: linear-gradient(90deg, rgba(32,52,56,1) 44%, rgba(22,3,18,1) 96%);;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 2;
  border-bottom: 2px solid #f0d2d2;
}

nav.show-box-shadow{
    box-shadow: 0 0.6rem 1rem #0ce989;
    border: none;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

nav button {
  display: none;
}

nav h3 {
  color: #ffce31;
}

nav .container ul {
  display: flex;
  height: 100%;
}

nav .container ul li a {
  height: 100%;
  width: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(86,131,184,1) 100%);
  position: relative;
  transition: var(--transition);
}

nav .container ul li a:hover {
  color: #9fcd09;
}

nav .container ul li a.active {
  background:linear-gradient(0deg, rgb(89, 236, 150) 27%, rgb(143, 109, 206) 89%);
  color: #fff;
}

/* landing */

section.landing {
  display: grid;
  place-items: center;
  position: relative;
  top: 5rem;
  padding-bottom: 14rem;
}

section.landing .container {
  display: grid;
  grid-template-columns: 5rem auto 26rem;
  gap: 2rem;
}

section.landing .socials {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-top: 5rem;
}

section.landing .socials a {
  font-size: 1.1rem;
  background: hwb(106 2% 12%);
  color: #e5e5ef;
  padding: 0.3rem;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition);
}

section.landing .socials a:hover {
  background: linear-gradient(0deg, rgba(231,35,206,1) 18%, rgba(87,24,214,1) 56%, rgba(26,245,247,1) 89%);
  color: #fff;
}

section.landing .info h1 {
  text-align: left;
  margin: 0;
}

section.landing h3 {
  margin: 2.4rem 0 1rem;
}

section.landing .info p {
  color: aliceblue;
  width: 35rem;
}

section.landing .profile-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

section.landing .profile-area .outer-circle {
  width: 26rem;
  height: 26rem;
  border: 1px solid hwb(0 5% 3%);
  border-radius: 50%;
  position: relative;
  animation: move 30s linear infinite;
}

@keyframes move {
  to {
    transform: rotate(360deg);
  }
}

section.landing .profile-area .outer-circle span {
  display: block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  position: absolute;
  background: linear-gradient(90deg, rgba(7,153,105,1) 6%, rgba(145,124,221,1) 59%, rgba(221,118,146,1) 83%);
  /* color: var(--color-primary); */
  color: rgb(32, 6, 73);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 1rem hwb(0 64% 29%);
}

section.landing .profile-area .outer-circle span:nth-child(1) {
   right:10rem;
   top: -2rem;
}



section.landing .profile-area .outer-circle span:nth-child(2) {
  top: 4.5rem;
  right: calc(20%-1rem);
}



section.landing .profile-area .outer-circle span:nth-child(3) {
 bottom: 3.5rem;
 right: calc(80%-1rem);
 
}


section.landing .profile-area .outer-circle span:nth-child(4) {
  left: calc(50% - 2rem);
  bottom: -2rem;
}



section.landing .profile-area .outer-circle span:nth-child(5) {
    right: 0rem;
    bottom: 18rem;     
}

section.landing .profile-area .outer-circle span:nth-child(6) {
  right: calc(30% - 9rem);
  bottom: 5.5rem;
}


section.landing .profile-area .inner-circle {
  position: absolute;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  overflow: hidden;
}

/* about */
section.about {
    background-color: rgb(33, 2, 25);
    

}
section.about h1{
  color: #fff;
}

section.about .container {
  display: grid;
  grid-template-columns: 26rem auto;
  gap: 5rem;
}

section.about p {
  margin-bottom: 1rem;
  color: aliceblue;
}

section.about .container .read-more-content {
  display: none;
}


/* toggle read more */
section.about .container .read-more-content.show-content{
    display: block;
}

section.about .container .read-more {
  display: block;
  margin: 1rem 0 2rem;
  color: #e90c0c;
  cursor: pointer;
}

section.about .container .read-more:hover {
  text-decoration: underline;
}

/* Skills */
#skills{
  background: radial-gradient(circle, rgba(43,1,19,1) 0%, rgba(54,65,82,1) 57%);
}

section.skills .container {
  width: 50%;
}

section.skills .skill {
  margin-bottom: 1rem;
}

section.skills .skill  .head {
  background: radial-gradient(circle, rgba(0,16,126,1) 0%, rgba(132,17,147,1) 68%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 1.6rem;
  cursor: pointer;
}

section.skills .skill  .head h4 {
  color: #fff;
}

section.skills .skill   .head .left {
  display: flex;
  align-items: center;
  gap: 1rem;
}


section.skills .skill  .items{
    display: none;
}


/* for show / hide items */
section.skills .container .skill   .items.show-items{
    display: block;
}
section.skills .skill   .item {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  padding: 1.6rem;
  background: #160116;
  margin-bottom: 0.3rem;
  transition: var(--transition);
}

section.skills .skill   .item:hover {
  background: linear-gradient(90deg, rgba(7,153,88,1) 6%, rgba(34,20,87,1) 59%, rgba(108,9,36,1) 83%);
}

section.skills .skill .progress-area {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

section.skills .item  .progress-bar {
  width: 100%;
  height: 1rem;
  background: #c78e8e;
}

section.skills .item  .progress-bar .progress {
  width: 100%;
  height: 100%;
  background: #29f5a6;
}

section.skills .item:nth-child(1) .progress-bar .progress {
  width: 90%;
}

section.skills .item:nth-child(2) .progress-bar .progress {
  width: 75%;
}

section.skills .item:nth-child(3) .progress-bar .progress {
  width: 86%;
}


 
 





/* services */

section.services{
  background: linear-gradient(90deg, rgba(8,17,19,1) 44%, rgba(70,62,69,1) 96%);
}

section.services h1{
  color: aliceblue;
}

section.services .container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

section.services .container .service{
    background: #fff;
    padding: 3rem 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    gap: 2rem;
    cursor:default;
    transition: var(--transition);
}

section.services .container .service h3{
  color: #0ce989;
}


section.services .container .service:hover{
    box-shadow: 0 3rem 3rem #0a895c;
    background: linear-gradient(0deg, rgba(104,96,103,1) 18%, rgba(68,12,167,1) 56%, rgba(10,81,82,1) 89%);
    transform: translate(10px,30px);
    color: aliceblue;
  
}

section.services .container .service span{
    background: #e90c0c;
    width: 4rem;
    height: 4rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #fff;
}
section.services .container .service i{
    background: #e90c0c;
    width: 4rem;
    height: 4rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #fff;
}

section.services .container .service:nth-child(2) span{
    background: #ffce31;
}
section.services .container .service:nth-child(3) i {
    background: #09de2d;
}

/* portfolio */
#portfolio{
  background: linear-gradient(90deg, rgba(0,56,69,1) 44%, rgba(30,1,1,1) 96%);
}
section.recent-work h4{
  color: aliceblue;
}

section.recent-work h1{
    text-align: left;
    margin: 3rem 0 1rem;
    width: 65%;
    color: aliceblue;
}

section.recent-work .projects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

section.recent-work .projects .project{
    display: flex;
    flex-direction: column;
    gap: 1rem;
} 

section.recent-work .projects .project h2{
  color: #fff;
}

section.recent-work .projects .project p{
  color: #0ce989;
}

section.recent-work .projects .project .action{
    display: flex;
    gap: 2rem;
}

section.recent-work .projects .project .action a{
    color: #e90c0c;
}

section.recent-work .projects .project .action a:hover{
    text-decoration: underline;
}


/* testimonial */

section.testimonials{
    background: linear-gradient(0deg, rgba(104,96,103,1) 18%, rgba(11,2,29,1) 56%, rgba(11,55,56,1) 89%);
}

section.testimonials .container{
    width: 44rem;
}

section.testimonials .carousel{
    display: flex;
    align-items: center;
    /* gap: 1rem; */
    /* flex-direction: column; */
}

section.testimonials .testimonial{
    background: #830352;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 0,9rem;
    margin-bottom: 2rem;
    color: aliceblue;
    border-radius: 4px;
    cursor: pointer;
}

section.testimonials .testimonial .head{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


section.testimonials .testimonial .head .profile-area{
    display: flex;
    gap: 1rem;
}


section.testimonials .testimonial .head .profile-area .avatar{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    overflow: hidden;
}

section.testimonials .testimonial .head .stars{
    color: #e4b313;
}

section.testimonials .testimonial .head .stars span{
    font-size: 1.2rem;
}




/* contact */

section.contact{
    background: url('./images/work-2.jpg')no-repeat center center/cover;
    padding: 0;
    max-width: 100vw;
}

section.contact .overlay{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    padding: 10rem 0 7rem;
}


section.contact .container{
    width: 40%;
}


section.contact .container h1{
    margin: 0;
    color: #fff;
}


section.contact .container p{
    text-align: center;
    color: #fff;
    opacity: 0.8;
    margin-top: 0.5rem;
}

section.contact form{
    margin-top: 3rem;
}


section.contact form input, section.contact form textarea{
    display: block;
    width: 100%;
    margin: 0.5rem 0;
    padding: 1.6rem;
    /* justify-content: space-between; */
    border: 1px solid #f1e1e1;
    background: transparent;
    color: #fff;
    transition: var(--transition);
}

section.contact form input:focus, section.contact form textarea:focus{
    background: #fff;
    color: #000;
}


section.contact form input::placeholder, section.contact form textarea::placeholder{
    color: #fff;
}


section.contact form .btn{
    width: 14rem;
    border: none;
    background: #fff;
    color: #000;
    margin: 2rem auto 0;
    transition: var(--transition);
}

section.contact form .btn:hover{
    background: #362c61;
    cursor: pointer;
    color: #fff;
    box-shadow: 1rem solid #4ca0dd;
}


section.contact form textarea{
    height: 10rem;
}



/* footer */

footer{
    padding-top: 5rem;
}

footer .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .container ul{
    display: flex;
    gap: 3rem;
}

footer .container ul a{
    color: aliceblue;
    transition: var(--transition);
}

footer .container ul a:hover{
    color: #8ef78e;
}

footer .container .socials{
    display: flex;
    gap: 2rem;
}

footer .container .socials a{
    color: #000;
   background: #fff;
    padding: 0.3rem;
    border-radius: 50%;
    transition: var(--transition);
}


footer .container .socials a:hover{
  background: linear-gradient(0deg, rgba(231,35,206,1) 18%, rgba(87,24,214,1) 56%, rgba(26,245,247,1) 89%);;
  color: aliceblue;
}

footer .copyright{
    background:linear-gradient(90deg, rgba(75,49,121,1) 6%, rgba(87,0,68,1) 46%, rgba(0,43,91,1) 83%);
    color: #fff;
    text-align: center;
    margin-top: 5rem;
    padding: 2rem 0;
    font-size: 0.8rem;
}




/* media queries */

 @media screen and (max-width:600px){
    h1{
        font-size: 2.2rem;
    }

    h2{
        font-size: 1.6rem;
    }

    h3{
        font-size: 1.2rem;
    }

    h4{
        font-size: 1rem;
    }

    h5{
        font-size: 0.68rem;
    }

    .container{
        width: 94%;
    }



    /* nav */
    nav{
        box-shadow: 0 1rem 1rem #a75858;
    }
    nav h3{
        margin-left: 1rem;
    }


    nav .container{
     width: 100%;
    }

    nav .container ul{
        position: fixed;
        top: 0;
        flex-direction: column;
        z-index: 3;
        width: 16rem;
        height: 100vh;
        background: #fff;
        box-shadow: 1rem 0 2rem #e90c0c;
        display: none;
    }

    nav ul li{
        height: 4.6rem;
        width: 100%;
    }

    nav .container ul li a{
        width: 100%;
        justify-content: start;
        padding-left: 2rem;
    }

    nav .container ul li a:hover{
        padding-left: 3rem;
    }

    nav button{
        display: inline-block;
        cursor: pointer;
        background: transparent;
        color: #000;
        margin-right: 1rem;
    }

    nav button#close-btn{
        display: none;
    }

    section.landing{
        margin-top: -4rem;
        padding-bottom: 7rem;
        max-width: 100vw;
        overflow-x: hidden;
    }

    section.landing .container{
        grid-template-columns: 1fr;
        grid-template-rows: 20% 50%;
        text-align: center;
        row-gap: 6rem;
    }


    section.landing .container .socials{
        display: none;
    }

    section.landing .container .info{
        width: 90%;
        margin: 0 auto;
    }

    section.landing .container .info h1{
        text-align: center;
    }

    section.landing .container .info p{
        margin: 0 auto;
        width: 92%;
    }

    section.landing .container .profile-area{
        grid-row: 1;
        width: 94%;
        margin: 0 auto;
    }

    section.landing .container .outer-circle{
        width: 16rem;
        height: 16rem;
    }

    section.landing .container .inner-circle{
        width: 10rem;
        height: 10rem;
    }

    section.landing .container .outer-circle span{
        width: 3rem;
        height: 3rem;
    }

    section.landing .profile-area .outer-circle span:nth-child(1) {
        left: calc(33% - 1rem);
        top: -1.5rem;
      }
      
      section.landing .profile-area .outer-circle span:nth-child(2) {
        right: 0.5rem;
        top: calc(17% - 1.5rem);
      }
      
      section.landing .profile-area .outer-circle span:nth-child(3) {
        left: -0.5rem;
        top: calc(23% - 1.5rem);
      }
      
      section.landing .profile-area .outer-circle span:nth-child(4) {
        left: calc(50% - 1.5rem);
        bottom: -1.5rem;
      }

      section.landing .profile-area .outer-circle span:nth-child(5) {
        left: calc(4% - 1rem);
        bottom: 2.5rem;
      }

      section.landing .profile-area .outer-circle span:nth-child(6) {
        left: calc(95% - 1.5rem);
        bottom: 2.5rem;
      }


      /* about */
      section.about .container{
        grid-template-columns: 1fr;
        gap: 1rem;
        text-align: center;
      }


      /* skills */

      section.skills .container{
        width: 94%;
      }

      /* services */
      section.services .container{
        grid-template-columns: 1fr;
      }

      /* portfolio */

      section.recent-work .container .projects{
          grid-template-columns: 1fr;
      }

      section.recent-work .container h1{
        width: 94vw;
        margin: 1.4rem 0 1rem;
      }

      /* testimonial */
section.testimonials .container{
    grid-template-columns: 1fr;
    width: 94vw;
}

section.testimonials .container .testimonial .head .stars span{
    font-size: 0.8rem;
}

/* contacct */

section.contact .container{
    width: 94vw;
}

section.contact .container p{
    width: 80vw;
    margin: 0.5 auto 0;
}

/* footer */

footer .container{
    flex-direction: column;
    gap: 3rem;
}

footer .container ul{
    flex-direction: column;
    text-align: center;
    gap: 1.4rem;
} 

}






